<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="title" style="text-align:left">
  <h1>HN Feed</h1>
  <h2>{{title}}</h2>
</div>

<table mat-table [dataSource]="articles" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="row-title"
    (click)="openUrl(element)"> {{element.title}}.
      <span class="row-author" > - {{element.author}} -</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a href="#">
        <mat-icon (click)="deleteArticle(element)">delete_outline</mat-icon>
      </a>
  </td>
  </ng-container>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;">
  </tr>
</table>
